@font-face {
  font-family: 'GESSTextMedium-Medium';
  src: url('../fonts/GESSTextMedium-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/GESSTextMedium-Medium.woff') format("woff"), url('../fonts/GESSTextMedium-Medium.ttf') format("truetype"), url('../fonts/GESSTextMedium-Medium.svg#Exo-Bold') format("svg");
  font-weight: normal;
  font-style: normal;
}


label.error {color: #ed7a53;}
.w-nav-link.menu-li.signIn-link.change-lng {
  -moz-appearance: none;
  -webkit-appearance:none;
  border: medium none;
  cursor: pointer;
  vertical-align:top;
  padding-top: 28px;
}
span.down.arrow{ cursor: pointer; padding: 30px 0px; line-height: 20px;  margin-left: auto; margin-right: auto; position: relative; text-align: left; text-decoration: none; vertical-align: top; line-height: 75px; }
.p5l{ padding-left: 5px; }
.nav .nav-menu .list-inline > li{ vertical-align: top; display: inline-block; }
span.down.arrow{ vertical-align: middle; }


.arabic-lang .tab-link-searchbox li a.hostpitals-link,
.arabic-lang .tab-link-searchbox li.active a.doctors-link,
.arabic-lang .tab-link-searchbox li:hover a.doctors-link,
.arabic-lang .tab-link-searchbox li a.clinics-link,
.arabic-lang .tab-link-searchbox li a.labs-link
{ width: 100%; display: block; padding-right: 60px; text-align: right; }

.arabic-lang .form-control.dropdown, .arabic-lang .search-links-view .form-control {
    padding-right:65% !important;
    text-align: right;
}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
.w-nav-link.menu-li.signIn-link.change-lng {
    padding-top: 29px;
    padding-left: 3px;
}
.arabic-lang .form-control.dropdown {
    padding: 25px 65% 25px 25px !important;
    text-align: right;
}

}

