/* view 1024  */
@media screen and (max-width:1279px){
.experinc-box.p100t {padding-top: 50px;  }
.w-nav-button{ border: 1px solid #008f9e; width: 100%; }
.w-nav-button span.title {
  display: inline-block;
  text-align: left;
  width: 48%;
  color: #008f9e;
  line-height: normal;
}

.w-icon-nav-menu {
  color: #008f9e !important;
  display: inline-block;
  text-align: right;
  width: 48%;
}

address{font-size: 13px;}

.featured-doctor-det .bottom ul li .details{ padding: 0 7px; }
.filter-show-data .bottom-box h2 {font-size: 18px;}
.featured-doctor-det .bottom ul li .review-det .title,
.filter-show-data .bottom-box .review-det span.title,
.filter-show-data .bottom-box span.address,
.filter-show-data .bottom-box span.phone{ font-size: 11px; }
.search-full-box .form-inline .form-control{ width: 99%; }
#map, .map-det {height: 354px;}
.get-direction-link{ left: 36px; }


}

/* view 768  */
@media screen and (max-width:1023px){ 

/* search page style start */
.w-col-3.logo.flip {padding: 6px 0 0;}
.w-nav-button{ margin-top: 3px; padding: 5px 10px; }
.search-full-box{ margin-top: 51px; }
.search-full-box .form-inline .form-group{ width: 80%; }
.w-nav-overlay{ top:88%; }
.get-direction-link{ left: 16px; }
.search-full-box{ padding: 3% 0; }

.featured-doctor-det .bottom ul li .img-box{ width: 30%; }
.featured-doctor-det .bottom ul li .details{width: 66%;}
.featured-doctor-det .bottom ul li .review-det div{ width: 100%; text-align: left;}

.filter-show-data .bottom-box h2 {font-size: 16px;}
.filter-show-data .bottom-box .review-det .flip.text-left{ width: 55%; }
.filter-show-data .bottom-box .review-det .flip.text-right{ width: 42%; }

.filters-box.m50t{ margin-top: 30px; }

/* search page style end */

.experinc-box.p100t, .experinc-box.p45t {padding-top: 0px;}
.doctor-det-frm{ margin-top: 63px; }
.footer-menu-divider.w-nav-link.menu-li.w--nav-link-open {display: none;}
.list-inline > li{float: left; width: 100%; padding:0px; display: block; }
.list-inline li a{color: #fff;}
.menu-li{ padding: 12px; }
.w-nav-link.menu-li.signIn-link, .w-nav-link.menu-li.register-link {padding: 12px; color: #fff;}
.or-text.w-nav-link.menu-li{display: none;}
.w-nav-link.menu-li.signIn-link i.fa.fa-user{padding-left: 0;}
.plan1{ padding: 7px; }
.plan1 h4{ font-size: 18px; }
.ourplan-heading{ font-size: 34px; line-height: 34px;}
.experinc-box.p100t h4{ font-size: 16px; }
.experinc-box.p100t h4 {margin-bottom: 10px;}
.border-buttom{ margin-bottom: 15px; }
.buttons {margin-top: 15px;}
h5.title{font-size: 18px;}
.buttons.get-application{ margin:0; padding: 0; }
.btn-ex-one {margin-top: 10px;}
.plan1_1{ padding: 15px; }
.review-user {min-width: 70px;}
.plan1-ser1 .review-details h6, .plan1-ser1 .review-details h6 span{ float: none !important; }
.plan1-ser1 .review-details h6{ margin-bottom: 10px; }
.top-reviews.our-plan-parlex .wrap{ margin-top: 0; }
.dropdown .menu-li:hover { background-color: transparent;}
.list-inline li a, .w-nav-link.menu-li.signIn-link, .w-nav-link.menu-li.register-link, .w-nav-link.menu-li.signIn-link, .w-nav-link.menu-li.register-link{ padding-left: 30px; }

.w-nav-link.menu-li.signIn-link i.fa.fa-user {display: none;}

}

/* view 480  */
@media screen and (max-width:767px) {

/* search page style */

.search-full-box .form-inline .form-group {
    width: auto;
}
.search-full-box .form-inline .form-control-btn-box{ width: auto; }
.search-full-box .search-icon{ left: 70px; }
.search-full-box {
    margin-top: 0;
}
.search-full-box {
    padding: 2% 0;
    vertical-align: top;
}
.form-group {
    margin-bottom: 0;
}
.search-links-view .form-control, .filters-details .form-control{ padding:15px 25px; }

.sorting-det .form-horizontal .form-group .col-sm-6.pull-left.col-xs-12 .form-control.dropdown {padding: 5px 90px 5px 25px !important; }

.address-det{ text-align: left; }
.featured-doctor-det{ margin: 5% 0 10%; }
/***********************/

.search-links-det{ box-shadow: none; height: 100%; }
/*.fixed-header .w-col.w-col-3.logo.flip.pull-left{ width: 80% !important; float: left; }
.fixed-header .w-col.w-col-9.flip.pull-right{ width: 10% !important; float: right; }*/
.doctor-det-frm {
  margin-top: 15px;
}
.tab-link-searchbox { 
  padding: 20px 0 0;
}
.tab-link-searchbox li{ padding: 12px 20px; }
.search-links-view .form-control{ text-align: left; }
.form-horizontal .form-group .form-control.dropdown {padding: 15px 90px 15px 25px !important;}
.search-links-view .form-group {margin: 0 !important;}
.search-links-view {
  display: block;
  height: 100%;
  margin-left: 0;
  padding: 20px 0 0;
}
.form-group.btn-search
 {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.search-links-view{ padding-bottom: 40px; }
.search-links-view .form-control{ padding: 15px; }
.sepreater{width: 100%; margin-bottom: 10px;}
.wrap{ margin-top: 20px; }
.plan1 { margin-bottom: 15px;}
.search-links-view .ex-btn{ padding: 10px 50px 12px; }
.who_we_are{ padding-bottom: 30px; }
.ourplan-heading {
  font-size: 26px;
  line-height: 30px;
}
.who_we_are h4 {
  text-align: center;
}
.border-buttom {
  border-top: 2px solid #66696a;
  display: block;
  margin: 0 auto 10px;
  padding: 0;
  width: 50%;
}
.experinc-box p{ font-size: 14px; text-align: center; margin-bottom: 15px; }
.btn-ex-one {
  display: inline-block;
  float: none;
  margin-top: 10px;
  text-align: center;
}
.experinc-box.p100t h3.ourplan-heading {
  margin-top: 20px;
}
.get-application a{display: inline-block;}
.top-reviews.our-plan-parlex .w-col.w-col-6, .footer-top-det .w-col.w-col-4{ margin-bottom: 20px; }
address,
.footer-top-det p, .footer-top-det a, .footer-top-det a span{text-align: left;}
.form-control-btn-box {
  vertical-align: top;
}
/*.search-full-box .search-icon {
  left: 30px;
}
.search-full-box .form-inline .form-group {
  width: 75%;
}*/
/*.filters-details .form-horizontal .form-group .form-control.dropdown{ padding: 0 90px 0 25px !important; }*/
.search-full-box .search-icon {
  left: 25px;
}
.search-full-box .form-inline .form-group {
  width: 99%;
}
.search-full-box .form-inline .form-control {
  width: 100%; margin-bottom: 10px;
}


}

/* view 320  */
@media screen and (max-width:479px) {
.ourplan-heading {
  font-size: 22px;
  line-height: 26px;
}
.ex-btn{font-size: 16px;}
h5.title {
  font-size: 16px;
}

.review-user .img-responsive {
  display: inline-block;
}

.review-details, .review-user {
  width: 100%;
}
.review-user{ margin-bottom: 10px; }
.top-reviews.our-plan-parlex .w-col.w-col-6, .footer-top-det .w-col.w-col-4 {
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}
.footer-top-det .w-col.w-col-4 {

}
address {
  font-size: 12px;
}
.footer-top-det .border-buttom{display: none;}
.footer-top-det .title-footer{ margin-bottom: 10px; }

}
