 /* Theme CSS */
 html {
	background-color:#eee;
 }
 body {
	font-family: Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	background-color:#fff;
 }
.eventCalendar-wrap {
	border:solid 1px #d3d3d3;
	box-shadow:0 0 15px #999;
	border-radius:5px;
	margin-bottom:20px;
	background-color:#fff;
	color:#807E7E;
}
	.eventCalendar-wrap .eventCalendar-arrow {
		background: rgba(72, 72, 78, 0.5) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 50%;   
    height: 32px;
    line-height: 28px;
    padding: 8px 10px;
    text-decoration: none;
    top: 9px;
    width: 32px;
		
	
	}
/*	custom css by h*/

.eventCalendar-slider, .eventCalendar-details{width:48% !important;}
.eventCalendar-slider{float:left;}
.eventCalendar-details{float:right;}
.eventCalendar-slider .eventCalendar-monthWrap.eventCalendar-currentMonth{ width:50% !important; }
.arrow-nav-block { max-width:50%;}

/*	custom css by h*/
		.eventCalendar-wrap .eventCalendar-arrow.prev {

		}
		.eventCalendar-next {  padding-left:13px !important;}
		.eventCalendar-wrap .eventCalendar-arrow:hover { opacity:1;}
		.eventCalendar-wrap .eventCalendar-arrow span {
			height: 0;
			width: 0;
			font-size: 0;
			line-height: 0;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 6px solid #fff;
			float:left;
			text-indent:-5000px;
		}
			.eventCalendar-wrap .eventCalendar-arrow.eventCalendar-prev span {
				border-left-width:0;
				border-right: 6px solid #fff;
			}
	.eventCalendar-slider { height:80px;}

	.eventCalendar-monthWrap {
		border-radius:5px;
		top:10px;
		left:0px;
	}
		.eventCalendar-currentTitle {
			line-height:35px;
			background-color:transparent;
			padding-bottom:2px;
			/*outline:1px solid #138DA5;
			border:1px solid #E3E3E3;
			border-width:1px 0;*/
		}
			.eventCalendar-currentTitle .eventCalendar-monthTitle {
				
				text-decoration:none;
				
				color:#000;
				font-size: 20px;
    			line-height: 28px;
    			margin: 8px 0;
				font-family: "Open Sans","arial";
				text-transform: uppercase;
    
    margin: 0 0 10px;
    text-rendering: optimizelegibility;
			}

		.eventCalendar-daysList {
			zoom: 1;
			padding:0;
			width:100%;

		}
			.eventCalendar-daysList.eventCalendar-showAsWeek {
				margin:10px 10px;
				width:auto;

								/*border:solid 1px #BCBCBC;
				border-bottom-width:0;
				border-radius:0;
				background-color:#CCCCCC;
				background-image: linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
				background-image: -o-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
				background-image: -moz-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
				background-image: -webkit-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
				background-image: -ms-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);

				background-image: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(0.42, #EEEEEE),
					color-stop(0.71, #CCCCCC)
				);*/

			}
			.eventCalendar-daysList.showDayNames.eventCalendar-showAsWeek {

				border-radius:5px 5px 0 0;
			}
			.eventCalendar-daysList:before, .eventCalendar-daysList:after { content:""; display:table; }
			.eventCalendar-daysList:after { clear: both; }
			.eventCalendar-day-header {
				color: #333;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
			}
			.eventCalendar-daysList.eventCalendar-showAsWeek li {
				height:auto; margin:0;
			}
				.eventCalendar-daysList.eventCalendar-showAsWeek li.eventCalendar-empty {
					background-color:transparent;
					min-height:5px;
					border-top: solid 0px #ccc;
				}
			.eventCalendar-day a {
				text-decoration:none;
				font-size:10px;
				color:#424242;
			}
			.eventCalendar-day {
				border-left:solid 1px #BCBCBC;
			}
			.eventCalendar-day a  {
				border:solid 1px #BCBCBC;
				border-width:0 1px 1px 0;
			}
			.eventCalendar-showAsWeek .eventCalendar-day { border-left-width:0;}
			.eventCalendar-showAsWeek .eventCalendar-day a  {
				border:solid 0px red;
				border-color:#fff #BCBCBC #BCBCBC #eee;
				line-height:50px;
				font-size:12px;

			}
				.eventCalendar-day a:hover {
					background-color:#E4E4E4;
				/*	box-shadow:inset 5px 5px 10px #C1C1C1;
					text-shadow: 2px 2px 2px #C1C1C1;*/
				}
			.eventCalendar-daysList li.today a {
				color:#fff;
				background:#aaa;
			/*	box-shadow:inset 5px 5px 10px #777;
				text-shadow: 2px 2px 2px #777;*/
			}
				li.eventCalendar-day.today a:hover {
					background-color:#ccc;
					/*box-shadow:inset 5px 5px 10px #999;*/
				}

			.eventCalendar-daysList li.eventCalendar-dayWithEvents a {
				background:#A87FC6;
				/*border:1px solid #A87FC6;*/
				/*border-radius:100%;*/
				
				/*background-color:transparent;*/
				
				/*box-shadow:inset 5px 5px 10px #698B10;
				text-shadow: 2px 2px 2px #698B10;*/
				color:#fff;
			}
				li.eventCalendar-day.eventCalendar-dayWithEvents a:hover {
					background:rgba(168,127,198,0.8);
					/*box-shadow:inset 5px 5px 10px #89B814;
					text-shadow: 2px 2px 2px #89B814;*/
				}


			.eventCalendar-daysList li.current a {
				color:#fff;
				background:#449FB2;
				box-shadow:inset 5px 5px 10px #216B7A;
				text-shadow: 2px 2px 2px #216B7A;
			}
				li.eventCalendar-day.current a:hover {
					background-color:#79BDCC;
					box-shadow:inset 5px 5px 10px #449FB2;
					text-shadow: 2px 2px 2px #449FB2;
				}
		.eventCalendar-loading {
			border-radius:4px;
			margin:5px auto;
			padding:0 10px;
			background-color:#ccc;
			color:#fff;
			text-align:center;
			font-weight:bold;
			box-shadow:0 0 10px #ccc;
			text-shadow:0 0 3px #aaa;
			position:absolute;
			z-index:4;
			top:25px;
			left:5px;
		}
			.eventCalendar-loading.error {
				background-color:red;
			}

.eventCalendar-subtitle { }
.eventCalendar-list-wrap {
	min-height:100px;
	position:relative;
	margin-top:80px;
	margin-bottom: 30px;
	max-width:475px !important;
	padding:10px; 
	border:0px solid rgba(127,127,127,0.5);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
	border-radius:1px;
	background:rgba(255,255,255,0.95);
}
	.eventCalendar-list-content.scrollable {

		height:100px;
		overflow-y:auto;
		margin:0 5px 5px 0;
	}
	.eventCalendar-list {
		margin:0; padding:0; list-style-type:none;
	}
	.eventCalendar-list li {
		padding:6px 8px;
		margin:8px 0px;
		clear:both;
		border:1px solid rgba(209,209,209,0.8);
		border-radius:3px;
		
	}
		.eventCalendar-list li time {
			color:#7A7A7A;
    font-size: 12px;
    line-height: 15px;
		}
		.eventCalendar-list li time em {
			float:left;
			font-style:normal;
		}
		.eventCalendar-list li time small {
			font-size:10px;
			float:left;
			background-color:#807E7E;
			color:#1c1c1c;
			padding:0 5px 0 4px;
			margin:0 0 0 3px;
		}
		.eventCalendar-list li .eventCalendar-eventTitle {
			display:block;
			clear:both;
			font-weight:500;
			text-decoration:none;
			color:#1c1c1c;
			font-size:110%;
			padding:5px 0px;
			cursor:pointer;
		}
			.eventCalendar-list li a.eventCalendar-eventTitle {
				/*color:#0E8EAB;*/
			}
			.eventCalendar-list li a.eventCalendar-eventTitle:hover { text-decoration:underline;}
		.eventCalendar-list li .eventDesc {
			clear: both;
			margin:0 0 5px 0;
			font-size:80%;
			line-height:1.2em;

		}
		.eventCalendar-list .eventCalendar-noEvents {
			font-size:120%;
			border-radius:4px;
			margin:5px 0px;
			padding:10px 6px 3px 6px;
			background-color:#424242;
			color:#fff;
			text-align:center;
			font-weight:500;
			box-shadow:0 0 8px #ccc;
			
		}

.bt {
	font-size:12px;
	display:block;
	clear:both;
	text-align: center;
	margin-top:10px;
	padding: 9px 34px 11px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;

	color: #ffffff;
	background-color: #698B10;
	background-repeat: repeat-x;

	background-image: -khtml-gradient(linear, left top, left bottom, from(#89B814), to(#698B10));
	background-image: -moz-linear-gradient(top, #89B814, #698B10);
	background-image: -ms-linear-gradient(top, #89B814, #698B10);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89B814), color-stop(100%, #698B10));
	background-image: -webkit-linear-gradient(top, #89B814, #698B10);
	background-image: -o-linear-gradient(top, #89B814, #698B10);
	background-image: linear-gradient(top, #89B814, #698B10);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89B814', endColorstr='#698B10', GradientType=0);

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	border: 1px solid #698B10;
	border-color: #698B10 #698B10 #465F05;

	border-radius: 4px;

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}
.bt:hover {
	  background-position: 0 -15px;
	  text-decoration: none;
	}
/* end of theme css */


/*= ONLY FOR DEMO PAGE */
body {
/*
	width:978px;
	box-shadow:0 0 10px #777;
	padding: 20px 40px;
	margin:0 auto;
	*/
}
a { color: #0E8EAB}
/*
.eventCalendar-wrap {
	width:265px;
}
*/
.features li { margin-bottom:3px;}
#thanksPanel li { margin-bottom:0;}
#introPanel { padding-top:20px;}

.poweredBy img {
	float:left;
	margin-right:3px;
}
	.poweredBy .data {
		float:left;
	}
	.poweredBy .name {
		font-weight:bold;
		color:#555;
		text-decoration:none;
		display:block;
		margin-top:28px;
	}
	.poweredBy .twitter {
		text-decoration:none;
		display:block;
		float:left;
	}
.features {
	padding-left:20px;
	float:left;
}
#appLogo {
	margin-right:30px;
}
pre {
	clear:both;
	background-color:#FFFFCC;
	padding:5px;
	border:solid 1px #FED17E;
	overflow:auto;
}
#license {
	width:300px;
	float:right;
	font-size:10px;
	line-height:12px;
	text-align:center;
}
@media (max-width: 780px) {
.eventCalendar-slider, .eventCalendar-details{width:100% !important;}
.eventCalendar-slider{float:none;}
.eventCalendar-details{float:none;}
.eventCalendar-slider .eventCalendar-monthWrap.eventCalendar-currentMonth{ width:100% !important; }
.arrow-nav-block { max-width:100%;}
.eventCalendar-list-wrap { margin: 70px 5%;}
.eventCalendar-showAsWeek .eventCalendar-day a { line-height:27px;}
.eventCalendar-daysList li.eventCalendar-dayWithEvents a { border-radius:0px;}
.eventCalendar-list-wrap { min-width:88% !important;}
.eventCalendar-subtitle { font-size:105%; }
}
.eventCalendar-showAsWeek li{ width: 13.28%; }

/* end of demo page */