/*= CORE CSS */

.eventCalendar-hidden {
	display: none;
}

.eventCalendar-wrap {
	position: relative;
	overflow: hidden;
}

.eventCalendar-arrow {
	position: absolute;
	z-index: 5;
	top: 3px;
}

.eventCalendar-prev {
	left: -20px;
}

.eventCalendar-next {
	left: 20px;
}

.eventCalendar-monthTitle {
	display: block;
	text-align: center;
}

.eventCalendar-monthWrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.eventCalendar-currentMonth {
	z-index: 1;
}

.eventCalendar-daysList {
	display: table;
	width: 100%;
}

.eventCalendar-showAsWeek {
	display: block;
}

.eventCalendar-daysList li {
	display: table-cell;
}

.eventCalendar-dayWithEvents {
	background: rgba(0, 0, 0, 0.15);
	/*border-radius:100%;*/
	border-right: 1px solid #fff;
	
}

.eventCalendar-current {
	background: rgba(0, 0, 0, 0.35);
}

.eventCalendar-showAsWeek li {
	display: block;
	float: left;
	width: 14.28%;
	height: 20px;
}

.eventCalendar-daysList a {
	padding: 0;
	display: block;
	text-align: center;
	font-size: 8px;
	min-width: 7px;
}

.eventCalendar-loading {
	display: block;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
}

.eventCalendar-list {
	position: relative;
/*	z-index: 1;*/
}

.eventCalendar-oldEventList {
	z-index: 2;
}

.eventCalendar-subtitle {
  color: #1c1c1c;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 28px;
  margin-bottom: 5px;
  margin-top: 9px;
  padding-left: 0;
  text-transform: capitalize;
}
/* end of core CSS */